@{
    ViewBag.Title = "Strona główna";
}


<div class="row" style="margin-top: 40px;">
    <div class="jumbotron col-md-12">
        <h2 class="text-center">MyClub</h2>
        <p>
            MyClub jest to system do zarządzania klubem sportowym. Pozwala użytkownikom umawiać się na treningi indywidualne do trenerów. Znajduje się tu także forum, na którym trenerzy mogą udostępniać własne wpisy. 
        </p>
    </div>
    <div class="col-md-8">
        <h2>Informacje</h2>
        <p>
            Nasz klub sportowy charakteryzuje znakomita lokalizacja, przyjazna atmosfera, najwyższej jakości sprzęt treningowy oraz wykwalifikowany i pomocny personel - wszystko to w najkorzystniejszej cenie na rynku. Trenuj jak chcesz i ile chcesz, a potem relaksuj się w saunie.
        </p>
        <p>
            Doskonałe położenie klubu sprawia, że szybko dotrzesz tutaj z centrum miasta.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Kontakt</h2>
        <address>
            ul. 3 maja 54<br />
            08-110 Siedlce<br />
            Tel: 555-555-555
        </address>
        <address>
            <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>
    </div>
</div>